[tools]
go = "1.25.5"
golangci-lint = "latest"
goreleaser = "latest"
"go:golang.org/x/vuln/cmd/govulncheck" = "latest"

[env]
'_'.file = ".env"

[tasks.build]
run = "go build -o lunchtui"
description = "Build the application binary"

[tasks.run_dev]
run = ["go install", "lunchtui"]
description = "Run the application"

[tasks.run_debug]
run = "dlv debug --headless --api-version=2 --listen=127.0.0.1:43000 . -- --debits-as-negative"
description = "Run the dlv with debits as negative"

[tasks.new_release]
run = "goreleaser release --clean"
depends = "version"
description = "Create a new release"

[tasks.version]
run = "git tag $(svu n)"

[tasks.tidy]
description = "Runs cmds to tidy up the project"
run = [
  "go mod tidy",
]

[tasks.test]
description = "run tests"
depends = "tidy"
run = [
  "go test -v ./... -coverprofile=coverage.out",
  "go tool cover -func=coverage.out"
]

[tasks.lint]
description = "Run golangci-lint with fixes and AI-friendly output"
run = "golangci-lint run --fix --output.json.path=stdout"
